div.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.575) ;
    
}

div.alert-box{
    position: relative;
    width: 30vw;
    height:60vh;
    background-color: rgb(247, 249, 250);
    box-shadow:0  0.188em 1.550em rgb(104, 104, 129);
    display:flex;
    flex-direction: column;
    align-items:center;
    border-radius: 0.4em;
    animation: popupContent 1s 1 linear;
    /* justify-content: space-around; */
}
@keyframes popupContent{
    0%{
       transform: scale(0);
    }
    100%{
       transform: scale(1);
    }
}
p.succes-title{
    position: absolute;
    top:10vh;
    width:85%;
    font-family: 'Kanit', sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
    color: rgb(26, 30, 32);
    /* background-color: rgb(249, 81, 81); */
}
p.appointment-no{
  position: absolute;
    top:37vh;
    width:80%;
    font-family: 'Kanit', sans-serif;
    font-size: 1.3vw;
    font-weight: 600;
    text-align: center;
    color: rgb(26, 30, 32);
    /* background-color: rgb(42, 196, 116); */
}
div.circle{
    position:absolute;
    top:25vh;
    width:5vw;
    height: 10vh;
    border-radius: 50%;
    background-color:rgb(26, 234, 172);
    animation:changeSize 0.4s 1 linear;
    transform:scale(1);
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes changeSize{
   0%{
    transform:scale(0);
    opacity:0;
   }
   25%{
    transform:scale(0.25);
    opacity:0.25;
   }
   50%{
    transform:scale(0.5);
    opacity:0.35;
   }
   75%{
    transform:scale(0.75);
    opacity:0.45;
   }
   100%{
    transform:scale(1);
    opacity:1;
   }

}
/* .old-checkmark{
  transform: scaleX(-1) rotate(135deg);
  opacity: 1;
  height: 1.75em;
  width: 0.9em;
  transform-origin: left top;
  border-right: 5px solid #f2f8f2;
  border-top: 5px solid #eff4ef;
  content: "";
  left: 1.3vw;
  top:5vh;
  position:absolute;
} */
.before-checkmark{
    display: none;
}
.checkmark {
    animation-duration: 1s;
    animation-timing-function:linear;
    animation-name: checkmark;
    animation-iteration-count:1;
    transform: scaleX(-1) rotate(135deg);
    opacity: 1;
    height: 1.75em;
    width: 0.9em;
    transform-origin: left top;
    border-right: 5px solid #f2f8f2;
    border-top: 5px solid #eff4ef;
    content: "";
    left: 1.3vw;
    top:5vh;
    position:absolute;
  }
  
@keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 0.9em;
      opacity: 1;
    }
    40% {
      height: 1.75em;
      width: 0.9em;
      opacity: 1;
    }
    100% {
      height: 1.75em;
      width: 0.9em;
      opacity: 1;
    }
  }
div.wrong-class{
  position:absolute;
  left: 2.25vw;
  top:2vh;
  height: 2.5em;
  width: 0.4em;
  transform: rotate(135deg);
  background-color:white;
}
div#left-bar{
  transform: rotate(230deg);

}
p.description-text{
    position: absolute;
    top:40vh;
    width:60%;
    font-family: 'Kanit', sans-serif;
    font-size: 1vw;
    font-weight: 200;
    color: rgb(26, 30, 32);
    text-align: center;
}
button.ok-btn{
    position: absolute;
    top:50vh;
    right: 3vw;
    width:5vw;
    height: 7vh;
    border: none;
    border-radius: 0.5em;
    font-family: 'Kanit', sans-serif;
    font-size: 1vw;
    font-weight: 500;
    padding: 1vh 0.5vw;
    background-color: rgb(51, 156, 231);
    color: white;
    cursor: pointer;
}
@media screen and (max-width:500px){
  div.container{
    position: absolute;
    top:-5vh;
    left:0;
  }
  div.alert-box{
    width:65vw;
    height: 40vh;
  }
  p.succes-title{
    top:5vh;
    font-size: 5vw;
  }
  div.circle{
    top:15vh;
    width:14vw;
    height: 7vh;
  }
  div.wrong-class{
    top:1.3vh;
    left:6.5vw;
    height: 4.5vh;
    width:1vw;
  }
  p.description-text{
    top:25vh;
    font-size: 2.5vw;
  }
  button.ok-btn{
    top:33vh;
    height: 4vh;
    width:8vw;
    font-size: 2vw;
  }
}