div.state-text{
    position: relative;
    top:6%;
    left:1%;
    /* background-color: blanchedalmond; */
    word-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-style: bold;
    font-weight: 800;
    min-height:10px;
    height: 10%;
    color:rgb(129, 118, 105)
}

@media screen and (max-width:500px) {
    div.state-text{  
      width:50vw;  
      height: 3vh;
      font-size: 2vw;
      word-spacing: 1px;
      margin-top: -10%;
    }
  }
  @media screen and (min-width:501px) and (max-width:800px){
    div.state-text{
      font-size: 1.7vw;
    }
  }
  @media screen and (min-width:801px) and (max-width:1100px){
    div.state-text{
      font-size: 1.5vw;
    }
  }